node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

.env
.env.local
.env.development
.env.test
.env.production

data/db/
*.ns
*.mongod.lock
*.log

.vscode/
dist/
build/
.next/
out/

jspm_packages/
.webpack/
.serverless/
*.log
logs/
.cache/

package-lock.json
yarn.lock
pnpm-lock.yaml
tmp/
temp/